body{
    background-color: darkgray;
}
div.container{
    display: flex;
    justify-content: center;
}
img{
    border-radius: 10px;
    
    margin-left: 50px;
    width: 300px;

}


h1{
    margin-left: 45%;
}
h3{
    text-align: center;
    margin-bottom: 60px;
}


a{
    text-decoration: none;
    background-color: darkslategray;
    padding: 20px;
    border-radius: 10px;
    color: aliceblue;
    margin-left: 48%;
    
}




div{
    animation-name: ancer;
    animation-duration: 2s;
}





@keyframes ancer {
    
from{
    transform: translateY(-50px);
    opacity: 0;
}
    to{transform: translateY(0);
    opacity: 1;
}
  
    
}



















